html,body{
    height: 100%;
}

#content{
    overflow: auto;
}
// 隐藏滚动条
#content::-webkit-scrollbar{
    display: none;
  }

.bottom-nav{
    @include rowOrColumn(row,space-around,center,center);
    height: 1.5rem;
    .nav-home{
        @include rowOrColumn(column,center,center,center);
    }
    .nav-analyse{
        @include rowOrColumn(column,center,center,center);
    }
    .nav-shop{
        @include rowOrColumn(column,center,center,center);
    }
    .nav-me{
        @include rowOrColumn(column,center,center,center);
    }
    .iconfont{
        font-size: 0.5rem;
        color: #999999;
    }
    .icon-choose{
        color:#22E2BC
    }
    .nav-name{
        margin-top: 0.1rem;
        font-size: 0.2rem;
        color:#999999;
    }
}