//div自定义宽高
@mixin widthAndHeight($w, $h) {
    width: $w;
    height: $h;
  }
  
  //div设置横向排列或竖排排列
  @mixin rowOrColumn($order, $justifyContent, $alignContent, $alignItems) {
    display: flex;
    flex-direction: $order;
    justify-content: $justifyContent;
    align-content: $alignContent;
    align-items: $alignItems;
  }
  
  //文字样式
  @mixin fontStyle($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-align: center;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .bagView {
      height: 100%;
      border-radius: 15px;
      @include widthAndHeight(80%,60% );
      @include rowOrColumn(column, left, left, center);
      background-color: #fff;
      .tabs{
        @include widthAndHeight(95%,90% );
        overflow-y: auto;
        margin-top: 5px;
      }
      .backButton{
        @include widthAndHeight(90%,10% );
        @include rowOrColumn(column, left, left, center);
      }
    }
  }
  

  